* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #000;
}

header {
  background-color: #17345F;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu-icon {
  font-size: 24px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.icons .icon {
  margin-left: 15px;
  font-size: 20px;
  cursor: pointer;
}

main {
  padding: 20px;
}

.contenido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imagen-principal img {
  max-width: 100%;
  height: auto;
  width: 600px;
}

.info {
  max-width: 400px;
  margin-top: 20px;
}

.info h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.info p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

button {
  background-color: #2a66b2;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.galeria {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}

.galeria img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  border: 3px solid gray;
  background-color: white;
}

footer {
  background-color: #17345F;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 24px;
}
